default_layout "compact"
pane_frames false
copy_on_select false
scrollback_editor "nvim"
default_shell "/home/sigi/launch_shell.sh"

keybinds {
    unbind "Ctrl g" "Ctrl p" "Ctrl n" "Ctrl s" "Ctrl o" "Ctrl t" "Ctrl h" "Ctrl b" "Ctrl q"
    pane {
        bind "h" { MoveFocusOrTab "Left"; }
        bind "l" { MoveFocusOrTab "Right"; }
        bind "x" { CloseFocus; }
    }
    tab {
        bind "x" { CloseTab; }
        bind "c" { SwitchToMode "RenameTab"; TabNameInput 0; }
    }
    scroll {
        bind "l" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "o" { SwitchToMode "Session"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "m" { SwitchToMode "Move"; }
        bind "b" { SwitchToMode "Tmux"; }
        bind "f" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "s" { TogglePaneFrames; SwitchToMode "Normal"; }
        // bind "q" { Quit; }
    }
    move {
        bind "H" { BreakPaneLeft; }
        bind "L" { BreakPaneRight; }
        bind "n" { BreakPane; }
        bind "h" { MoveTab "Left"; }
        bind "l" { MoveTab "Right"; }
        bind "m" { MovePane; }
        bind "M" { MovePaneBackwards; }
    }
    locked {
        bind "Esc" { SwitchToMode "Normal"; } 
    }
    shared_except "locked" {
        bind "Alt q" { CloseFocus; }
        bind "Alt n" { NewTab; }
        bind "Alt u" { HalfPageScrollUp; }
        bind "Alt d" { HalfPageScrollDown; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt H" { GoToPreviousTab; }
        bind "Alt L" { GoToNextTab; }
    }
    shared_except "scroll" "locked" {
        bind "Alt m" { SwitchToMode "Scroll"; }
    }
    shared_except "normal" "locked" {
        bind "q" { SwitchToMode "Normal"; }
    }
    shared_except "normal" {
        bind "Ctrl c" { Copy; }
    }
}
