[submodule ".fish_greeting_utils"]
	path = .fish_greeting_utils
	url = ../fish_greeting_utils.git
[submodule ".ohmyzsh"]
	path = .ohmyzsh
	url = ../ohmyzsh.git
[submodule ".neofetch-only-ascii"]
	path = .neofetch-only-ascii
	url = ../neofetch-only-ascii.git
[submodule ".dotfiles/wsl-sudo"]
	path = .dotfiles/wsl-sudo
	url = https://github.com/Chronial/wsl-sudo.git
[submodule ".config/amp/themes"]
	path = .config/amp/themes
	url = https://github.com/filmgirl/TextMate-Themes.git
[submodule "AppData/Roaming/alacritty/alacritty-theme"]
	path = AppData/Roaming/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".config/nvim/pack/sigurd/start/monokai.nvim"]
	path = .config/nvim/pack/sigurd/start/monokai.nvim
	url = https://github.com/tanvirtin/monokai.nvim.git
