[user]
	name = Sigurd Tullander
	email = 2935944-sigurdo@users.noreply.gitlab.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	pusj = push
	wip = commit --all -m "WIP"

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
